{
  "zoom": {
    "meetingId": "3337772323"
  },
  "contact": {
    "name": "Bro. Makoy Mascariñas",
    "phone": "0992 456 1943"
  },
  "localeList": [
    "Abucay",
    "Bagac",
    "Balanga",
    "Balut, Orani",
    "Baseco",
    "Batangas Dos",
    "Bliss",
    "Colo",
    "Culis",
    "Diwa",
    "Doña, Orani",
    "Gen Lim",
    "Gugo",
    "Hermosa",
    "Limay",
    "Mariveles",
    "Morong",
    "Mt. View",
    "Orion",
    "OSJ",
    "Pilar",
    "Pita",
    "Roosevelt",
    "Samal",
    "Tanato",
    "Tucup"
  ]
}
