{
  "zoom": {
    "meetingId": "3337772323"
  },
  "contact": {
    "name": "Bro. Makoy Mascariñas",
    "phone": "0992 456 1943"
  },
  "localeList": [
    "Abucay",
    "Alion",
    "Ariada",
    "Bagac",
    "Balanga",
    "Baseco",
    "Batangas Dos",
    "Bliss",
    "Colo",
    "Culis",
    "Diwa",
    "Dona Orani",
    "General Lim",
    "Gugo",
    "Hermosa",
    "Lamao",
    "Limay",
    "Mariveles",
    "Morong Bayan",
    "Morong Resort",
    "Mt. View",
    "Old San Jose",
    "Orani",
    "Orion",
    "Pilar",
    "Roosevelt",
    "Samal",
    "Tanato",
    "Tucop"
  ]
}
